.navbar .dropdown-menu {
    background-color: #ffffff; /* White background for the dropdown menu */
  }

  .navbar .dropdown-menu a.dropdown-item:hover {
    background-color: #035BBC; /* Hover color for dropdown menu items */
    color: #D8E6F6; /* Text color on hover */
  }

  /* .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    font-size: 13px;
    color: #65534c;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
} */

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
/* for registration page */
/* Custom checkbox styles */
.custom-checkbox .form-check-input {
  display: none;
}

.custom-checkbox .form-check-input:checked + .form-check-label::before {
  background-color: #28a745; /* Color for checked checkbox */
  border-color: #28a745; /* Color for checkbox border */
}

.custom-checkbox .form-check-input:not(:checked) + .form-check-label::before {
  background-color: #dc3545; /* Color for unchecked checkbox */
  border-color: #dc3545; /* Color for checkbox border */
}

.custom-checkbox .form-check-input:focus + .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.custom-checkbox .form-check-input:checked:focus + .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.custom-checkbox .form-check-label {
  padding-left: 40px;
}

/* Additional style for inline checkboxes */
.custom-checkbox .form-check-inline {
  margin-right: 10px;
}

.custom-checkbox .form-check-inline:last-child {
  margin-right: 0;
}

/* registration page */