.navbar .dropdown-menu {
    background-color: #ffffff; /* White background for the dropdown menu */
  }

  .navbar .dropdown-menu a.dropdown-item:hover {
    background-color: #035BBC; /* Hover color for dropdown menu items */
    color: #D8E6F6; /* Text color on hover */
  }