.navbar .dropdown-menu {
    background-color: #ffffff; /* White background for the dropdown menu */
  }

  .navbar .dropdown-menu a.dropdown-item:hover {
    background-color: #035BBC; /* Hover color for dropdown menu items */
    color: #D8E6F6; /* Text color on hover */
  }

  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 20px;
    font-size: 13px;
    color: #65534c;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
}

.custom-checkbox .form-check-input:checked ~ .form-check-label::before {
  border: 1px solid #28a745;
  background-color: #28a745;
}
.custom-checkbox .form-check-input:focus ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.custom-checkbox .form-check-input:checked:focus ~ .form-check-label::before {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.custom-checkbox .form-check-input:checked::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.custom-checkbox .form-check-input:indeterminate::before {
  content: "\f05d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.custom-checkbox .form-check-label {
  padding-left: 40px;
}